.gallery {
display: grid;
gap: 40px;
}
.gallery > .filter {
    display: flex;
    
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery > .filter > .pointer {
    padding: 5px 28px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    
    
}
.gallery > .filter > .pointer.active {
    color: #8490ff;
}
.gallery > .filter > .pointer:hover {
    
}

.gallery > .gallery-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    
}
.gallery > .gallery-content > .item {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.image {
    position: relative;
    width: 100%;
    
} 
.image__img {
    display: block;
    width: 100%;
    border-radius: 20px;
} 
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    border-radius: 20px;
    cursor: pointer;

    
}
.image__overlay:hover {
    opacity: .9;
}
.design-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.gallery .design-name > .title {
    padding: 0 1em;
    font-size: 18px;
    padding-bottom: 8px;
   
}
.gallery .design-name > .tag {
    padding: 0 1em;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #777777;
    
}


@media (min-width: 576px) {
    .gallery > .gallery-content {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}
@media (min-width: 1100px) {
    .gallery > .gallery-content {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 60px;
        margin-right: 60px;
    }
}
