.post-container {
    background-color: #f9f9fe; 
    display: grid; 
}
.post-container .post-part {
     display: grid;
     gap: 30px;

}
.post-container .description {
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.post-container .post-part > .single-post {
    width: 100%;
    padding: 0 15px;
    
}
.post-container .single-post > .post-img {
    width: 100%;
    object-fit: cover;
}
.post-container .single-post > .post-data {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 
    
}
.user-img {
    padding-right: 10px;
}
.name-user {
    text-decoration: none;
    font-weight: 300;
    color: #222222;
    font-size: 16px;
    margin-right: auto;
    
    
}
.data-statistics {
    flex-wrap: wrap;
}

.likes > a {
    text-decoration: none;
    color: #777777;
    font-weight: 300;
    font-size: 16px;
   
}
.data-statistics > a {
    color: #777777;
    font-weight: 300;
    font-size: 16px; 
    text-decoration: none; 
}
.data-statistics > span {
    color: #777777;
    font-weight: 300;
    font-size: 16px; 
    text-decoration: none; 
}
.posttitle {
    color: #222222;
    text-decoration: none;
    font-size: 25px;
    padding-top: 20px;
    
}
.posttitle > p {
    font-size: 17px;
    color: #777777;
    padding-top: 10px;
    font-weight: 300;
}

@media (min-width: 767px) {
    .post-container .post-part {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 80px;
        padding-right: 80px;
    }
}





