/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
/* components */
@import '../components/button.css';
/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
/* hero: end */

/* about me: start */
/* about me: end */

/* services: start */
/* services: end */

/* statistics: start */
/* statistics: end */

/* projects: start */
/* projects: end */

/* feedback: start */
/* feedback: end */

/* plans: start */
/* plans: end */

/* posts: start */
/* posts: end */

/* logo: start */
/* logo: end */

/* footer: start */
.footer {
    padding: 120px;
    background-color: #04091e;
    float: left;
}
.footer > div > div > h6 {
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}
.footer > div > div > p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 16px;
}
.footer div p a {
    text-decoration: none;
    color: #8490ff;
}
/* footer: about me start */

/* footer: about me end */

/* footer: Newsletter start */
/* footer: Newsletter end */

/* footer: Follow me start */
/* footer: Follow me end */

/* footer: end */
