/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */

@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/button.css';
@import '../components/gallery.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header: start */
.container-fluid > .row {
    margin-top: -60px;
}
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; 
    }

    .nav-menu a {
        text-decoration: none;
        text-transform: uppercase;
        color: #222;
        font-weight: 500;
        font-size: 12px;
        padding: 0 10px;
}
.nav-menu a:hover {
    color: #8490ff;
    transition: all 0.3s;
}
.nav-menu > a:first-of-type {
    color: #8490ff;
}

   
/* header: end */

/* hero: start */
.container.hero {
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
.hero.row {
    position: relative;
    display: flex;
}

.left-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
 
}

.right-img {
    display: flex;
    flex-direction: column; 
}


/* hero: end */

/* about me: start */
/* about me: end */

/* services: start */
/* services: end */

/* statistics: start */
.stat {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    color: #fff;
    display: flex;
    align-items: center; 
}


.numbers {
    font-size: 36px; 
    text-align: center;
    font-weight: 700;
}

.facts {
    font-size: 16px; 
    font-weight: 300;
    line-height: 2em;
}
/* statistics: end */

/* projects: start */
/* projects: end */

/* feedback: start */
/* feedback: end */

/* plans: start */
.plan-title {
    font-size: 36px; 
    font-weight: 700;
}
.plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.choose-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 50px;
}
.descr {
    color: #777777;
}
.big-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #E2E5FF;
    position: relative;
}
.small-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #EDEFFF;
    position: absolute;
    top: 50%;
   left: 50%;
    margin: -30px 0px 0px -30px;
}
.small-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
ul {
    list-style: none;
    text-align: center;
}
.plan-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
li {
    font-size: 14px;
    line-height: 1.1em;
    padding: 1.2em 1.2em;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    text-transform: capitalize;
}
li:first-child {
    border-bottom: none;
}
li:last-child {
    border-top: none;
}
.price {
    display: inline-block;
    font-weight: 300;
    font-size: 36px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px;
    transition: all .2s ease-in-out; 
}
.plan-buy{
    display: none;
    background: #fff;
    color: #04091e;
    text-transform: uppercase;
    padding: 0.6em 2em;
}
.plan:hover {
    transform: scale(1.05);
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.plan:hover > .descr{
    color: #ffffff;
}
.plan:hover > .plan-top > .descr{
    color: #ffffff;
}
.plan:hover > .plan-top > h3{
    color: #ffffff;
}
.plan:hover > .plan-top > .big-circle > .small-circle > span {
    color: #ffffff;
}
.plan:hover .price {
    display: none;
}
.plan:hover .plan-buy {
    display: inline-block;
}
.plan:hover > .plan-top > .big-circle{
    background-color: #9EBCFE;
}
.plan:hover > .plan-top > .big-circle > .small-circle {
    background-color: #83ACFD;
}
/* plans: end */

/* posts: start */
/* posts: end */

/* brandlogo: start */
.brand {
    display: flex;
    justify-content: center;
    padding: 80px;
    align-items: center;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.brand > .row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.brand > .row > a {
    padding: 0 60px;
    opacity: 50%;
}
.brand > .row > a:hover {
    opacity: 100%;
}
/* brandlogo: end */

/* footer: start */
.footer {
    padding: 120px 0;
    background-color: #04091e;
    float: left;
}
.footer > .row > div{
    margin: 10px 10px;
}
/* footer: about me start */
.footer > div > div > h6 {
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}
.footer > div > div > p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 16px;
}
.footer div p a {
    text-decoration: none;
    color: #8490ff;
}
/* footer: about me end */

/* footer: Newsletter start */
.sub {
    display: flex;
    flex-direction: row;
}
.sub > input {
    color: #495057;
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    padding-left: 5px;
    outline: none;
    text-transform: capitalize;
    border-radius: 0;
    border: 0;
}
.sub > input::selection {
    background: #222;
}
.sub > a.btn {
    background: #8490ff;
}
/* footer: Newsletter end */

/* footer: Follow me start */
.socials > a{
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
.socials > a:hover {
    color: #8490ff;
}
/* footer: Follow me end */

/* footer: end */
